$first: #000000;
$second: #263248;
$mid: black;
$slast: #FFFFFF;
$last: #FF9800;
$tablet-width: 768px;
$desktop-width: 1024px;
$share-width: 990px;
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lighten($second, 20);
}

div#app {
    width: 100%;
    min-height: 100vh;
    color: black;
    margin: 0;
    display: flex;
    justify-content: center;
}

div#content {
    width: 1000px;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    div#title {
    	p {
    		font-size: 3rem;
    		font-family: 'Roboto', 'sans-serif';
    		margin: 0;
    		color: $mid;
    	}
    }
  div#unit {
    p {
      font-family: 'Roboto', 'sans-serif';
      color: $mid;
    }
  }
}

svg {
	rect {
		fill: rgb(51, 173, 255);
		&:hover {
			fill: $second;
		}
	}
}

div#tooltip {
	background-color: steelblue;
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 3;
	p {
		display: flex;
		margin: 0;
		color: black;
	}
	p#gdp {
		font-size: 1.2rem;
		font-weight: 900;
		font-family: 'Roboto', 'sans-serif';
		span {
			margin-right: 5px;
		}
	}
}

.tick {
  text {
    font-size: 0.6rem;
  }
}